{% extends 'blog/blogbase.html' %}
{% load static %}
{% load humanize %}


{% block title %}
    
{% endblock title %}


{% block stylesheet %}
<style>
    .image-container .card-img-top{
        height: 400px;
        object-fit: cover;
        width:100%
    }
</style>
{% endblock stylesheet %}


{% block content %}
    <div class="row">
        <div class="card">
            <div style="min-height: 400px;" class="image-container">
                <img src="{{post.featured_image.url}}" class="card-img-top d-none d-lg-block" width="100%" height="300px" alt="{{post.title}}">
            </div>           
            <div class="card-body">
                <h4 class="title card-title">{{post.title}}</h4>
                <ul class="list-inline py-3">
                    <li class="author list-inline-item">Published By:&nbsp;{{post.author.username |title}}</li>
                    <li class="list-inline-item">Posted:&nbsp;{{ post.created_at }}</li>
                </ul>
                <div class="content">
                    <p>{{ post.content | safe | linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
    
    