{% extends 'main/base-inner.html' %}
{% block stylesheet %}

{% endblock stylesheet %}
    


{% block content %}
<section class="content-inner bg-light">
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <p>
                    Talented Graduates and Innovative Associates Limited abbreviated as TAGIA LIMITED is a private
                    company limited by shares, which deals with diverse objects. 
                    <br><br>It is comprised of well-equipped experts in different areas from agricultural production, livestock husbandry, livestock &
                    agricultural products post-processing, civil engineering, importation and exportation, quality
                    certification services, consultancy services to the modern services including digital
                    transformation. <br><br>
                    It is among of the fast-growing young companies in Tanzania and East Africa at large.
                    The company has ambition of serving the society and the success of the customers is the pride of
                    TAGIA Limited
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    


{% block javascript %}

{% endblock javascript %}
    