{% extends 'main/base-inner.html' %}
{% load widget_tweaks %}


{% block stylesheet %}
    
{% endblock stylesheet %}
    


{% block content %}
<section class="content-inner bg-light">    
</section>

<!-- Contact US -->
<section class="content-inner bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-b30">
                <div class="section-head style-1">
                    <h6 class="sub-title text-secondary">CONTACT US</h6>
                    <h2 class="title">Get In Touch With Us</h2>
                </div>
                <div class="icon-bx-wraper left m-b40 style-7">
                    <div class="icon-bx-sm">
                        <span class="icon-cell text-secondary">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h4 class="dz-title">Call Now</h4>
                        <p>Company Call Center</p>
                    </div>
                </div>
                <div class="icon-bx-wraper left style-7">
                    <div class="icon-bx-sm">
                        <span class="icon-cell text-secondary">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h4 class="dz-title">Email Address</h4>
                        <p><a href="mailto:info@tagia.co.tz">info@tagia.co.tz</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 m-b30">
                <div class="contact-area">
                    <div class="card p-3">
                        <form method="POST" action="" id="Contact-Form">
                            {% csrf_token %}                      
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            <div class="row sp10">
                                <div class="col-sm-12 m-b20">
                                    <div class="input-group">
                                        {% render_field form.full_name class="form-control" placeholder="Full Name" %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ form.full_name.error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b20">
                                    <div class="input-group">
                                        {% render_field form.email class="form-control" placeholder="Email Address" %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ form.email.error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b20">
                                    <div class="input-group">
                                        {% render_field form.phone_number class="form-control" placeholder="Phone number" %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ form.phone_number.error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b20">
                                    <div class="input-group">
                                        {% render_field form.message class="form-control" placeholder="Leave your message" rows="5" %}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button name="submit" type="submit" value="submit"
                                        class="btn btn-primary btn-rounded">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
{% endblock content %}
    

{% block javascript %}
<script>
    const form = document.getElementById('Contact-Form');
    form.addEventListener('submit', submitHandler)
  
    function submitHandler(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'main:contact_post' %}",
        data:$("#Contact-Form").serialize(),
        success: function(data){
          if (data.msg == 'success'){
            form.reset();
            Swal.fire({
              icon: 'success',
                title: 'Submitted Successfully!',
                text: 'We will contact you as soon as possible!',
            })
          }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            })
          }
        }
      })
    }
  
  </script>

{% endblock javascript %}
    