<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Form | Tagia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div>
   <div style="font-size: 36px;font-weight: 700;letter-spacing: -0.02em;line-height: 32px;color: red;font-family: sans-serif;text-align: center" align="center" id="emb-email-header">MESSAGE FROM WEBSITE</div>
<p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">You have recived a mail from a customer<br>
        <span style="color:red;">Customer Name :</span> <?= $full_name ?>
        <br><span style="color:red;">Customer Phone Number :</span> <?= $phone ?>
        <br><br><span style="color:red;">Customer Email :</span> <?= $email ?>                
        <br><span style="color:red;">message :</span> <?= $message ?>
        </p> 
</div>
</body>
</html>