{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Home
{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}
            <!-- Slider -->
            <div class="swiper-container main-slider-swiper slider-one">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="dz-slide-item tagia-slider1">
                          <div class="container">
                              <div class="silder-content" data-swiper-parallax="-40%">
                                  <!-- <div class="inner-content">
                                      <h5 class="sub-title text-secondary">WE SOLVE CHALLENGES</h5>
                                      <h2 class="title">We Provide the Best-in-class Designed
                                          and<br /><span>Innovative Solutions</span></h2>
                                      <p class="m-b30">TAGIA has expertise, culture, and innovation culture to help
                                          customers at various levels solve their biggest challenges they face</p>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="dz-slide-item tagia-slider2">
                          <div class="container">
                              <div class="silder-content" data-swiper-parallax="-40%">
                                  <!-- <div class="inner-content">
                                      <h5 class="sub-title text-secondary">WE SOLVE CHALLENGES</h5>
                                      <h2 class="title">We Provide the Best-in-class Designed
                                          and<br /><span>Innovative Solutions</span></h2>
                                      <p class="m-b30">TAGIA has expertise, culture, and innovation culture to help
                                          customers at various levels solve their biggest challenges they face</p>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="dz-slide-item tagia-slider3">
                          <div class="container">
                              <div class="silder-content" data-swiper-parallax="-40%">
                                  <!-- <div class="inner-content">
                                      <h5 class="sub-title text-secondary">WE SOLVE CHALLENGES</h5>
                                      <h2 class="title">We Provide the Best-in-class Designed
                                          and<br /><span>Innovative Solutions</span></h2>
                                      <p class="m-b30">TAGIA has expertise, culture, and innovation culture to help
                                          customers at various levels solve their biggest challenges they face</p>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="btn-prev swiper-button-prev1"><i class="fa fa-chevron-left"></i></div>
              <div class="btn-next swiper-button-next1"><i class="fa fa-chevron-right"></i></div>
          </div>

          <!-- Services -->
          <section class="content-inner-2 bg-light service-area-1 pb-5">
              <div class="container">
                  <div class="row align-items-center section-head style-1">
                      <div class="col-lg-6">
                          <h5 class="text-secondary sub-title">PROFESSIONAL SERVICES</h5>
                          <h2 class="title">What We Serve</h2>
                      </div>
                      <div class="col-lg-6">
                          <p class="m-b0">
                              Talented Graduates and Innovative Associates Limited (TAGIA) learns fast to optimize the
                              relations and its interconnectedness with customers and external complex supply chains
                              to the level that suits your preferred needs.
                          </p>
                      </div>
                  </div>

                  <div class="row row-cols-1 row-cols-md-3 g-4">
                      <div class="col-md-6">
                          <div class="card h-100 shadow-lg">
                              <div class="card-body tagia-service-box">
                                  <h5 class="card-title">Agriculture</h5>
                                  <p>
                                  <ul class="tagia-list">
                                      <li>Agro-processing</li>
                                      <li>Sunflower oil</li>
                                      <li>Rice mills</li>
                                      <li>Agro-inputs services</li>
                                      <li>Fertilizers supply</li>
                                      <li>Pesticides supply</li>
                                      <li>Consultancy & Training</li>
                                  </ul>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card h-100 shadow-lg">
                              <div class="card-body tagia-service-box">
                                  <h5 class="card-title">Livestock</h5>
                                  <p>
                                  <ul class="tagia-list">
                                      <li>Product processing</li>
                                      <li>Breeding and management</li>
                                      <li>Consultancy & Training</li>
                                  </ul>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card h-100 shadow-lg">
                              <div class="card-body tagia-service-box">
                                  <h5 class="card-title">Multbusiness/Enterprises</h5>
                                  <p>
                                  <ul class="tagia-list">
                                      <li>Whole selling and retailing</li>
                                      <li>Online and in-store</li>
                                      <li>Import</li>
                                      <li>Export</li>
                                      <li>Trading</li>
                                  </ul>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card h-100 shadow-lg">
                              <div class="card-body tagia-service-box">
                                  <h5 class="card-title">Infrastructure</h5>
                                  <p>
                                  <ul class="tagia-list">
                                      <li>Real estates</li>
                                      <li>Goods storage</li>
                                  </ul>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="tagia-main-section">
              <div id="faqs" class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <h2 class="line-heading">Frequently Asked Questions</h2>
                          <h3 class="large-heading text-capitalize">Some of the most common questions asked</h3>
                          <div id="faqSection" class="fullwidth-container">
                              <div>
                                  <button class="tagia-faq-collapsible collapsible">Je, naweza kupata watalaamu wa
                                      TAGIA kuja kunitembelea na kunipa ushauri?</button>
                                  <div class="faq-content">
                                      <p>NDIYO. TAGIA LIMITED, inatoa huduma za kiushauri (Consultant). Piga simu au
                                          jaza fomu kueleza hitaji lako na utatafutwa ndani ya masaa 72 ya siku za
                                          kazi.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-3 mb-3">
                          <a href='https://acadooghostwriter.com/'>https://acadooghostwriter.com/</a>
                          <script type='text/javascript'
                              src='https://www.freevisitorcounters.com/auth.php?id=1a201e0edb4eaa8843d527a8810e44782d04e8bf'>
                          </script>
                          <script type="text/javascript"
                              src="https://freevisitorcounters.com/en/home/counter/914195/t/0"></script>
                      </div>
                  </div>
              </div>
          </section>
{% endblock content %}

{% block javascript %}
  <script>
    const form = document.getElementById('Contact-Form');
    form.addEventListener('submit', submitHandler)

    function submitHandler(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'main:contact_post' %}",
        data:$("#Contact-Form").serialize(),
        success: function(data){
          if (data.msg == 'success'){
            form.reset();
            Swal.fire({
              icon: 'success',
                title: 'Submitted Successfully!',
                text: 'We will contact you as soon as possible!',
            })
          }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            })
          }
        }
      })
    }

  </script>
{% endblock javascript %}
    
    
    
    