{% extends 'main/base-inner.html' %}

{% block stylesheet %}
            
{% endblock stylesheet %}
                
            
{% block content %}
<section class="content-inner bg-light">    
</section>
<!-- Team -->
<section class="content-inner">
    <div class="container">
        <div class="section-head style-1 text-center">
            <h2 class="title">All Shareholders</h2>
        </div>
        <div class="row">            
            <div class="col-md-3 mb-3">
                <a href="#">
                <div class="swiper-slide ">
                    <div class="dz-team style-1 text-center overlay-shine">
                        <div class="dz-media shareholder-inner-container">
                            <img src="#" alt="image">
                        </div>
                        <div class="dz-content shareholder-info">
                            <h4 class="dz-name">{{name}}</h4>
                            <h6 class="text-light">{{occupation}}</h6>
                        </div>
                    </div>
                </div> 
                </a>                      
            </div>
    </div>
    </div>
</section>
{% endblock content %}
                
            
            
{% block javascript %}

{% endblock javascript %}

