{% load static %}
        <!-- Footer -->
        <footer class="tagia-site-footer">
          <div class="footer-top">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-4 col-sm-6">
                          <div class="widget widget_about">
                              <div class="footer-logo logo-white tagia-footer-logo">
                                  <img src="{% static 'frontend/images/logo.png' %}" alt="">
                              </div>
                              <p>
                                  Talented Graduates and Innovative Associates Limited abbreviated as TAGIA LIMITED is
                                  a private company limited by shares, which deals with diverse objects
                              </p>
                              <ul class="social-list">
                                  <li><a target="_blank" href="https://www.facebook.com/TAGIA-Limited-111976558059212/?ref=page_internal" class="btn facebook"><i
                                              class="fa fa-facebook-f"></i></a></li>
                                  <li><a target="_blank" href="https://www.instagram.com/tagia_limited/" class="btn instagram"><i
                                              class="fa fa-instagram"></i></a></li>
                                  <li><a target="_blank" href="https://twitter.com/LimitedTagia" class="btn twitter"><i
                                              class="fa fa-twitter"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-4 col-sm-6">
                          <div class="widget widget_categories">
                              <div class="widget-title">
                                  <h4 class="title">Our Links</h4>
                                  <div class="dz-separator style-1 text-secondary mb-0"></div>
                              </div>
                              <ul>
                                  <li><a href="#">Our Philosophy</a></li>                        
                                  <li><a href="#">Direct Call Us</a></li>
                                  <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-4 col-sm-6">
                          <div class="widget widget_getintuch">
                              <div class="widget-title">
                                  <h4 class="title">Contact Us</h4>
                                  <div class="dz-separator style-1 text-secondary mb-0"></div>
                              </div>
                              <ul>
                                  <li>
                                      <i class="fa fa-map-marker"></i>
                                      <span>Dodoma-Tanzania</span>
                                  </li>
                                  <li>
                                      <i class="fa fa-envelope"></i>
                                      <span><a href="mailto:info@tagia.co.tz"
                                              class="text-light">info@tagia.co.tz</a></span>
                                  </li>
                              </ul>
                          </div>
                          <div id="google_translate_element" class="footer-language-button shadow-lg rounded pb-2">
                              <span class="ms-4" style="font-size: 14px !important;">Change Language</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer Bottom -->
          <div class="footer-bottom">
              <div class="container">
                  <div class="row fb-inner">
                      <div class="col-12 text-center">
                          <span class="copyright-text">&copy; <script>
                              document.write(new Date().getFullYear())
                              </script><span class="notranslate"> TAGIA Limited || Designed by <a
                                      href="https://jayblagroup.com/" class="text-copyright" target="_blank">
                                      Jaybla Group</a></span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer End -->