{% extends 'dashboard/dashbase.html' %}
{% load static %}


{% block content %}
<div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card text-center bg-primary">
        <div class="card-header"><h1>Total Posts</h1></div>
        <div class="card-body  py-5">
         <h2>{{posts.count}}</h2> 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center bg-danger">
        <div class="card-header"><h1>Total Posts</h1></div>
        <div class="card-body  py-5">
         <h2>{{posts.count}}</h2> 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center bg-primary">
        <div class="card-header"><h1>Total Posts</h1></div>
        <div class="card-body  py-5">
         <h2>{{posts.count}}</h2> 
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    